.gradle/
build/

# Eclipse stuff
.classpath
.project
.settings/

# VSCode stuff
.vscode/

# netbeans
nbproject/
nbactions.xml

# vim
.*.sw[a-p]

# various other potential build files
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
out/

# JetBrains Fleet
.fleet/

# Linux temp files
*~

# other stuff
run/
logs/

/cheetah-server/build.gradle.kts
/cheetah-server/src/minecraft
/paper-server
/cheetah-api/build.gradle.kts
/paper-api
/paper-api-generator
