# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/cheetah-server/build.gradle.kts
/cheetah-server/src/minecraft
/paper-server
/cheetah-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
