name: Patch and Build
on: [ push, pull_request ]
jobs:
  build:
    # Only run on PRs if the source branch is on someone else's repo
    if: ${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}
    runs-on: ubuntu-latest
    env:
      BUILD_NUMBER: ${{ github.run_number }}
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/gradle.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Configure Git User Details
        run: git config --global user.email "actions@github.com" && git config --global user.name "Github Actions"
      - name: Clean
        run: ./gradlew clean
      - name: Apply Patches
        run: ./gradlew applyAllPatches --info
      - name: Bundle
        run: ./gradlew createMojmapBundlerJar --info
      - name: Rename Artifact
        run: mv cheetah-server/build/libs/cheetah-bundler-1.21.7-R0.1-SNAPSHOT-mojmap.jar cheetah-server/build/libs/cheetah-1.21.7.jar
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Cheetah-1.21.7
          path: cheetah-server/build/libs/cheetah-1.21.7.jar
          if-no-files-found: error
